body {
    font-family: 'Helvetica';
}
.heading {
    text-align: center;
    font-size: 50px;
}
.hands {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hand {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px;
}

.hand__icon {
    max-width: 75%;
    max-height: 75%;
}

.hand:hover {
    border-color: black;
}

.Rock {
    border: 5px solid #FD8182;
    background-color: #FED5D6;
}

.Paper {
    border: 5px solid #FEDC61;
    background-color: #FFF6D7;
}

.Scissors {
    border: 5px solid #E384FC;
    background-color: #F5D6FE;
}

.Lizard {
    border: 5px solid #8ADD8A;
    background-color: #D8F3D8;
}

.Spock {
    border: 5px solid #82B5FC;
    background-color: #D6E5FE;
}

.round__plays {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vs {
    padding: 0px 30px;
    font-size: 50px;
    font-weight: lighter;
    line-height: 250px;
}

.play__hand {
    width: 250px;
    height: 250px;
    background-color: #e6e6e6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play__hand .hand {
    width: 200px;
    height: 200px;
}

.play__label {
    text-align: center;
    font-size: 20px;
    margin: 10px 0px;
}

.round__message {
    text-align: center;
    margin: 30px 0px;
    font-size: 40px;
}
