* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
}

.breakout-game {
    height: 100%;
    padding: 100px;
}

.game-bounds {
    height: 100%;
    position: relative;
}

.logo {
    display: block;
    background: green;
    width: 200px;
    height: auto;
    padding: 30px 10px;
    position: absolute;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

